<!-- TODO ツリー構造を表示したメニューを作成する -->

<%- content_for :head do-%>
<title>管理画面&nbsp;|&nbsp;カテゴリ&nbsp;|&nbsp;一覧</title>
<%- end -%>

<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <div class="card">
      <div class="card-content">
        <span class="card-title black-text">カテゴリ&nbsp;一覧</span>
        <div class="center-align">
        </div>
        <table class="bordered">
          <thead>
            <tr>
              <th data-field="display_name" class="center-align">カテゴリ</th>
              <th data-field="public_status_id" class="center-align">公開状態</th>
            </tr>
          </thead>
          <tbody>
            <%- @categories.each do |category| -%>
            <tr>
              <td>
                <%= space2br(category.display_name) %>
                <%= link_to '編集', edit_category_path(category), class: 'waves-effect waves-light chip white-text wine-red mgn-top-5' %>
                <%= link_to '削除', category_path(category), method: 'delete', class: 'waves-effect waves-light chip black-text mgn-top-5', data: { confirm: '削除してもよろしいですか？' } %>
              </td>
              <td class="center-align<%= category.public_status.bg_color %>">
                <%= category.public_status.name %>
              </td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
      <div class="card-action right-align">
        <%= link_to '新規作成', new_category_path, class: 'waves-effect waves-light btn white-text wine-red' %>
      </div>
    </div>
  </div>
</div>
